/* Macro-site Styling */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Main NavBar styling */
.navbar {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 8vh;
  background: #555555;
  color: whitesmoke;
}

.navbar a {
  text-decoration: none;
  font-size: 1.4rem;
  color: whitesmoke;
}

.active {
  font-size: 2rem;
  color: #31ff53;
}

/* Side Navbar Styling */
.sidebar {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  height: 100vh;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown i {
  padding: 1.4rem 0;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Page Layout elements */
.container {
  position: absolute;
  right: 45vh;
  top: 5%;
}

/* Control Rules- Untouched */
/* Experimental rules */
.side-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  width: 680px;
  position: fixed;
  top: 0%;
  z-index: -1;
}

.character-title {
  padding-top: 0.2rem;
  font-size: 3rem;
  text-align: center;
  color: white;
}

.character-info {
  position: absolute;
  top: 61.5vh;
  margin-left: 13%;
  margin-bottom: 0.1rem;
  padding: 10px;
  color: white;
  width: 600px;
}

.character-info p {
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.character-info strong {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.25ch;
}

.character-info a {
  color: white;
}

.character-info i {
  margin-left: 0.6rem;
}

.character-text {
  margin: 2px 0;
}

.movelist {
  margin-bottom: 0.4rem;
  border-radius: 4px;
  line-height: 1.6rem;
  padding: 10px;
}

.movelist a {
  text-decoration: none;
  color: black;
}

.movelist h1 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.combos {
  margin-bottom: 1rem;
  width: 40vw;
  border-radius: 4px;
  line-height: 1.6rem;
  padding: 10px;
}

.combos h1 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.background-image {
  z-index: -1;
  position: absolute;
  top: 0;
}
/*# sourceMappingURL=main.css.map */