/* Macro-site Styling */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

h2 {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 2.5rem;
  padding: 20px 0;
}

/* Main NavBar styling */
.navbar {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 8vh;
  background: #555555;
  color: whitesmoke;
}

.navbar a {
  text-decoration: none;
  font-size: 1.4rem;
  color: whitesmoke;
}

.active {
  font-size: 2rem;
  color: #31ff53;
}

/* Side Navbar Styling */
.sidebar {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  height: 100vh;
  position: fixed;
}

.sidebar i {
  cursor: pointer;
}

.sidebar a {
  color: black;
}

.sidebar-icon {
  width: 70px;
  height: 70px;
  text-align: center;
}

.sidebar-icon:hover {
  color: white;
  background: #555555;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown i {
  padding: 1.4rem 0;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Right side navbar */
.info-nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2vh 1vw;
  height: 100vh;
  background: white;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.17);
}

.info-nav strong {
  font-size: 1.3rem;
}

.info-nav hr {
  margin-bottom: 0;
  border: 1px solid gray;
}

.info-nav ul {
  list-style-type: none;
  line-height: 2rem;
}

.info-nav ul a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

/* Page Layout elements */
.container {
  position: absolute;
  left: 77vh;
  top: 5%;
}

hr {
  border: 2px solid black;
  margin-bottom: 20px;
}

.border-1px {
  border: 1px solid black;
}

/* Control Rules- Untouched */
/* Experimental rules */
.side-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  width: 680px;
  position: fixed;
  top: 0%;
  z-index: -1;
}

.character-title {
  padding-top: 0.2rem;
  font-size: 3rem;
  text-align: center;
  color: white;
}

.character-info {
  position: absolute;
  top: 61.5vh;
  margin-left: 13%;
  margin-bottom: 0.1rem;
  padding: 10px;
  color: white;
  width: 600px;
}

.character-info p {
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.character-info strong {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.25ch;
}

.character-info a {
  color: white;
}

.character-info i {
  margin-left: 0.6rem;
}

.character-text {
  margin: 2px 0;
}

.movelist {
  margin-bottom: 0.4rem;
  border-radius: 4px;
  line-height: 1.6rem;
  padding: 10px;
}

.movelist a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.movelist h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding: 20px 0;
}

/* Frame Data table*/
table {
  border-collapse: collapse;
  margin: 0 0 1rem 0;
}

.parent-table {
  border: 1px solid #555555;
}

.table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #555555;
}

.table-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.border-bottom {
  border-bottom: 1px solid #555555;
}

.border-right {
  border-right: 1px solid #555555;
}

.text-left {
  text-align: left;
}

.table-shell {
  vertical-align: top;
  padding: 0;
}

.marginless {
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  text-align: center;
}

.borderless tr :nth-child(1) {
  border: none;
  background: #4c65a8;
  color: white;
}

.borderless tr :nth-child(2) {
  border: none;
  text-align: left;
}

.borderless {
  border-collapse: separate;
  border-spacing: 2px;
}

/* Combo Section*/
.combos {
  margin-bottom: 1rem;
  width: 40vw;
  border-radius: 4px;
  line-height: 1.6rem;
  padding: 10px;
}

.combos h1 {
  font-size: 2.8rem;
  padding: 50px 0 30px;
}

.combos li {
  list-style: none;
}

.combos .combo-category {
  font-size: 1.5rem;
}

.background-image {
  z-index: -1;
  position: absolute;
  top: 0;
}
/*# sourceMappingURL=main.css.map */