/* Macro-site Styling */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.site-container {
  overflow-x: hidden;
}

h2 {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 2.5rem;
  padding: 20px 0;
}

/* Main NavBar styling */
.navbar {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 8vh;
  background: #555555;
  color: whitesmoke;
}

.navbar a {
  text-decoration: none;
  font-size: 1.4rem;
  color: whitesmoke;
}

.active {
  font-size: 2rem;
  color: #31ff53;
}

i {
  cursor: pointer;
}

/* Side Navbar Styling */
.sidebar {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
}

.sidebar a {
  color: black;
}

.sidebar-icon {
  width: 70px;
  height: 70px;
  text-align: center;
}

.sidebar-icon:hover {
  color: white;
  background: #555555;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown i {
  padding: 1.4rem 0;
}

.character-list {
  display: none;
}

.character-list a {
  color: white;
  padding-right: 2.5rem;
}

.stream-list {
  display: none;
}

.character-list.visible-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.navigation-button {
  display: none;
}

.nav-info {
  width: 600px;
  background: #2f2f2f;
  height: 100vh;
  position: absolute;
  top: 0;
  margin-left: 340px;
  clip-path: circle(100px at 5% -10%);
  -webkit-clip-path: circle(100px at 5% -12%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  z-index: 1;
}

.nav-info.character-open {
  clip-path: circle(1300px at 5% -12%);
  -webkit-clip-path: circle(1300px at 5% -12%);
}

.nav-info.stream-open {
  clip-path: circle(1300px at 10% -10%);
  -webkit-clip-path: circle(1300px at 10% -10%);
}

/* Right side navbar */
.internal-navigation {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2vh 1vw;
  height: 100vh;
  background: white;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.17);
}

.internal-navigation .navigation-button {
  display: none;
}

.internal-navigation strong {
  font-size: 1.3rem;
}

.internal-navigation .top-of-page {
  display: none;
}

.internal-navigation hr {
  margin-bottom: 0;
  border: 1px solid gray;
}

.internal-navigation ul {
  list-style-type: none;
  line-height: 2rem;
}

.internal-navigation ul a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

/* Page Layout elements */
.container {
  position: absolute;
  left: 77vh;
  top: 5%;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

hr {
  border: 2px solid black;
  margin-bottom: 20px;
}

.border-1px {
  border: 1px solid black;
}

.float-right {
  position: absolute;
  right: 15vh;
}

/* Control Rules- Untouched */
/* Experimental rules */
.side-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  width: 680px;
  position: fixed;
  top: 0%;
  z-index: -1;
}

.character-title {
  padding-top: 0.2rem;
  font-size: 3rem;
  text-align: center;
  color: white;
  padding-left: 70px;
}

.character-info {
  position: relative;
  top: 55%;
  margin-left: 13%;
  z-index: -3;
  margin-bottom: 0.1rem;
  padding: 10px;
  color: white;
  width: 590px;
}

.character-info p {
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.character-info strong {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.25ch;
}

.character-info a {
  color: white;
}

.character-info i {
  margin-left: 0.6rem;
}

.character-text {
  margin: 2px 0;
}

.movelist {
  margin-bottom: 0.4rem;
  border-radius: 4px;
  line-height: 1.6rem;
  padding: 10px;
}

.movelist a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.movelist h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding: 20px 0;
}

/* Frame Data table*/
table {
  border-collapse: collapse;
  margin: 0 0 1rem 0;
  max-width: 800px;
}

.parent-table {
  border: 1px solid #555555;
}

.table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #555555;
}

.table-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.border-bottom {
  border-bottom: 1px solid #555555;
}

.border-right {
  border-right: 1px solid #555555;
}

.text-left {
  text-align: left;
}

.table-shell {
  vertical-align: top;
  padding: 0;
}

.marginless {
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  text-align: center;
}

.borderless tr :nth-child(1) {
  border: none;
  background: #4c65a8;
  color: white;
}

.borderless tr :nth-child(2) {
  border: none;
  text-align: left;
}

.borderless {
  border-collapse: separate;
  border-spacing: 2px;
}

/* Combo Section*/
.combos {
  margin-bottom: 1rem;
  width: 40vw;
  border-radius: 4px;
  line-height: 1.6rem;
  padding: 10px;
}

.combos h1 {
  font-size: 2.8rem;
  padding: 50px 0 30px;
}

.combos li {
  list-style: none;
}

.combos .combo-category {
  font-size: 1.5rem;
}

.background-image {
  z-index: -3;
  position: absolute;
  top: 0;
}

.clipboard {
  background: none;
  border: none;
}

/* Responsive design */
@media screen and (max-width: 1024px) {
  .sidebar {
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.17);
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.17);
  }
  .side-banner {
    position: absolute;
    top: 0;
  }
  .container {
    position: absolute;
    left: 9%;
    top: 125%;
    width: 70vw;
  }
  table img {
    width: 170px;
  }
  table th,
  table td {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
  .nav-info {
    width: 610px;
    background: #2f2f2f;
    height: 100vh;
    position: absolute;
    top: 0;
    margin-left: 340px;
    clip-path: circle(100px at 5% -10%);
    -webkit-clip-path: circle(100px at 0% -12%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    z-index: 2;
  }
  .nav-info.character-open {
    -webkit-clip-path: circle(1300px at 0% -12%);
  }
  .nav-info.stream-open {
    clip-path: circle(1300px at 10% -10%);
    -webkit-clip-path: circle(1300px at 10% -10%);
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
  }
  /* Navigation Styling */
  .sidebar {
    width: 100vw;
    height: 70px;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
    z-index: 50000000;
  }
  .sidebar .navigation-button {
    display: block;
    list-style-type: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .side-banner {
    z-index: -15;
  }
  .dropdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .internal-navigation {
    position: fixed;
    top: -40%;
    right: 0;
    height: 45vh;
    width: 45%;
    background: white;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
  }
  .internal-navigation .top-of-page {
    display: block;
  }
  .right-nav a {
    z-index: 2;
  }
  .internal-navigation-dropdown {
    height: 100vh;
    top: 60px;
  }
  .nav-info {
    width: 610px;
    background: #2f2f2f;
    height: 100vh;
    position: absolute;
    top: 0;
    clip-path: circle(100px at 5% -10%);
    -webkit-clip-path: circle(100px at 0% -12%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    z-index: 2;
    display: none;
  }
  .nav-info.character-open {
    -webkit-clip-path: circle(1300px at 0% -12%);
  }
  .nav-info.stream-open {
    clip-path: circle(1300px at 10% -10%);
    -webkit-clip-path: circle(1300px at 10% -10%);
  }
  /* Page Layout */
  .side-banner {
    width: 100%;
  }
  .side-banner .character-info {
    width: 100vw;
    bottom: 0.6vh;
    margin-left: 0%;
    background: #2f2f2f;
    margin-bottom: 3rem;
  }
  .side-banner .character-title {
    padding-top: 75px;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    padding-left: 0;
  }
  .background-image {
    width: 100%;
    height: 100vh;
    top: 70px;
  }
  .container {
    left: 0%;
    padding-top: 13rem;
    padding-left: 1rem;
    width: 100%;
    overflow-x: hidden;
  }
  /* Movelist Section */
  .movelist {
    width: 100%;
    padding: 0%;
  }
  .combos {
    overflow-x: hidden;
    width: 90%;
  }
  .combos i {
    right: 5%;
  }
}
/*# sourceMappingURL=main.css.map */